{% assign value = selected_value %}
{% assign options = image_options %}

<div class="image-select-wrapper">
  {% if label %}
    <div class="labelled-label-wrapper">
      <div class="label">
        <label class="label-text">{{ label }}</label>
      </div>
    </div>
  {% endif %}

  <div class="c-grid gap-10 c-grid-{{ columns }}-cols">
    {% for item in options %}
      {% assign isSelected = value == item.value %}

      <div class="item {% if isSelected %}selected{% endif %}">
        <a href="{{ item.url }}" class="img">
          <img src="{{ item.image }}" width="{{ imgWidth }}" />
        </a>

        {% unless hideLabel %}
          <span class="block" style="margin-top: 1rem;">{{ item.label }}</span>
        {% endunless %}
      </div>
    {% endfor %}
  </div>
</div>