{%- assign state = settings.state -%}
{%- assign template = state.template -%}

<div class="preview">
  <div class="popup-overlay absolute"></div>
  <div class="popup {{ template }}">
    <div class="popup-inner relative text-center" style="background-color: {{ state.popup_bg }}; color: {{ state.text_color }}">
      <button class="close absolute rounded-full">
        <span class="your-icon-class">X</span>
      </button>
      {% unless template == 'template-1' %}
        <div class="popup-image">
          <img src="{{ state.image | default: 'https://via.placeholder.com/820x400.png?text=Your+image' }}" alt="" />
        </div>
      {% endunless %}
      <div class="popup-content">
        <h3 class="text-4xl px-5 font-medium title">{{ state.title }}</h3>
        <div class="text-2xl mt-4 description">
          {{ state.description | markdown }}
        </div>
        <button style="background-color: {{ state.button_color }}; border-color: {{ state.button_color }}" class="bg-black text-white uppercase font-medium rounded mt-5 text-center pointer-event-none submit">
          {{ state.button }}
        </button>
      </div>
    </div>
  </div>
</div>