{% liquid
    assign popup_settings = shop.metafields.sabbath.popup.value

    assign title = popup_settings.title
    assign description = popup_settings.description
    assign button = popup_settings.button
    assign button_url = popup_settings.button_url
    assign popup_bg = popup_settings.popup_bg
    assign text_color = popup_settings.text_color
    assign button_color = popup_settings.button_color
    assign image = popup_settings.image
    assign template = popup_settings.template
%}

<script>
  window.Sabbath = window.Sabbath || {}

  Sabbath.Settings = {
    title: {{ title | json }},

    description: "{{ description }}",

    button: "{{ button }}",

    button_url: "{{ button_url }}",

    popup_bg: "{{ popup_bg }}",

    text_color: "{{ text_color }}",

    button_color: "{{ button_color}}",

    image: "{{ image }}",

    template: "{{ template }}"

  }
</script>

<script src="{{ 'sabbath-popup.js' | asset_url }}" defer></script>
{{ 'popup.css' | asset_url | stylesheet_tag }}
{{ 'helpers.css' | asset_url | stylesheet_tag }}
{{ 'globals.css' | asset_url | stylesheet_tag }}

<div id="popup-container"></div>