{% assign template = settings.template %}
{% assign popup_bg = settings.popup_bg %}
{% assign text_color = settings.text_color %}
{% assign button_color = settings.button_color %}
{% assign image = settings.image %}
{% assign themeId = '' %}

<div class="legacy-card" data-sectioned data-title="Pick a template">
  <div class="c-grid">
    <div class="item">
      <input type="radio" name="template" value="template-1" {% if template == 'template-1' %}checked{% endif %} />
      <img src="{{ 'Popup1.jpg' | asset_url }}" alt="Popup 1" />
      <label>Basic</label>
    </div>
    <div class="item">
      <input type="radio" name="template" value="template-2" {% if template == 'template-2' %}checked{% endif %} />
      <img src="{{ 'Popup2.jpg' | asset_url }}" alt="Popup 2" />
      <label>Vertical</label>
    </div>
    <div class="item">
      <input type="radio" name="template" value="template-3" {% if template == 'template-3' %}checked{% endif %} />
      <img src="{{ 'Popup3.jpg' | asset_url }}" alt="Popup 3" />
      <label>Horizontal</label>
    </div>
    <div class="item">
      <input type="radio" name="template" value="template-4" {% if template == 'template-4' %}checked{% endif %} />
      <img src="{{ 'Popup4.jpg' | asset_url }}" alt="Popup 4" />
      <label>Boxed</label>
    </div>
  </div>
</div>

<div class="legacy-card" data-sectioned data-title="Colors & Image">
  <form action="" method="post" id="settings-form">
    {% render 'snippets/color_picker_with_transparent', name: 'popup_bg', label: 'Background color', value: popup_bg, show_input: true %}

    {% render 'snippets/color_picker_with_transparent', name: 'text_color', label: 'Text color', value: text_color, show_input: true %}

    {% render 'snippets/color_picker_with_transparent', name: 'button_color', label: 'Button color', value: button_color, show_input: true %}

    <div class="item">
      <label class="form-label">Image</label>
      <input type="file" name="image" id="image-upload" />
      {% if image %}
        <img src="{{ image | img_url: 'master' }}" alt="Selected Image" />
      {% else %}
        <img src="{{ 'PlaceholderImage.jpg' | asset_url }}" alt="Placeholder Image" />
      {% endif %}
    </div>
  </form>
</div>

